@import "variable"; // 字級、顏色、速度
@import "reset"; // Reset、初始設定
@import "mixin"; // Flex、@media
@import "common";

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.main {
    padding: 60px 0;

    &__content {
        @include disFlex($ai: top);
        flex-wrap: wrap;
        max-width: 920px;
        margin: 0 auto;
        padding: 50px 0;
        border-radius: 12px;
        box-shadow: 0px 3px 6px #00000029;

        @include pad {
            padding: 0;
            box-shadow: none;
        }

        &__img {
            width: 350px;
            margin-right: 30px;

            h1 {
                text-indent: -9999px
            }

            h1 img {
                margin-top: -24px;
            }

            @include pad {
                margin-right: 0;
            }
        }

        &__select {
            width: 350px;
        }
    }
}

.selectCard {
    &__title {
        @include disFlex($jc: left);
        margin-bottom: 32px;
        color: $c1st;
        font-size: $fz-s * 1.5;
        font-weight: bold;
        border-bottom: 3px solid $c1st;

        i {
            margin-right: 6px;
            font-size: $fz-s * 1.25;
        }
    }

    &__button {
        display: inline-block;
        padding: 10px 40px;
        color: #fff;
        border-radius: 5px;
        background-color: $c1st;
        transition: $trsFast;
        cursor: pointer;

        &:hover {
            background-color: lighten($c1st, 8%);
        }
    }
}

.selectStyle {
    @include disFlex($jc: space-between);
    margin-bottom: 16px;

    @include pad {
        flex-wrap: wrap;
    }

    p {
        color: $c1st;
    }

    input,
    select,
    textarea {
        width: 255px;
        padding: 8px 12px;
        color: $c3rd;
        background-color: $c2nd;
        border: none;
        border-bottom: 2px solid $c1st;

        @include pad {
            width: 100%;
        }

        &::placeholder {
            color: $c3rd;
        }
    }

    select {
        padding-left: 8px;
    }

    textarea {
        resize: none;
    }
}

.dataWrap {
    padding-top: 56px;
    background-color: $c2nd;
}

.dataList {
    &__result {
        @include disFlex;
        margin-bottom: 52px;
        color: $c3rd;

        &__select {
            width: 255px;
            padding: 6px 12px;
            margin-right: 8px;
            color: $c3rd;
        }
    }

    &__card {
        @include disFlex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;

        @include pad {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.card {
    position: relative;
    width: 350px;
    margin: 0 15px 38px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 3px 6px #00000029;

    &__area {
        position: absolute;
        top: -10px;
        left: 0;
        padding: 8px 20px;
        color: #fff;
        font-size: $fz-s * 1.25;
        background-color: #64C3BF;
        border-radius: 0 8px 8px 0;
        z-index: 1;
    }

    &:hover img {
        transform: scale(1.2, 1.2);
    }

    &__photo {
        height: 180px;
        border-radius: 4px 4px 0 0;
        overflow: hidden;

        & img {
            transition: $trsSlow;
        }
    }

    &__info {
        position: relative;
        padding: 20px;

        &__star {
            position: absolute;
            top: -20px;
            left: 0;
            padding: 5px 8px;
            color: #fff;
            background-color: $c1st;
            border-radius: 0 8px 8px 0;
            z-index: 1;
        }

        &__title {
            margin-bottom: 16px;
            color: $c1st;
            font-size: $fz-s * 1.5;
            border-bottom: 2px solid $c1st;
        }

        &__describe {
            margin-bottom: 22px;
            height: 100px;
            color: $c3rd;
            overflow: hidden;
        }

        &__price {
            @include disFlex($jc: space-between);
            color: $c1st;

            i {
                margin-right: 4px;
            }

        }

        &__price .price {
            @include disFlex;

            p {
                margin-right: 4px;
            }

            span {
                font-size: $fz-s *2;
            }
        }
    }
}